#root {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  //width: 100%;
  font-family: 'Roboto';
}

html,body {
  height: 100%;
  overflow: auto;
}



main {
  width: 100%;
  overflow: auto;
  display: flex;
  flex: 1 0 auto;
}