.dashboard {
	&_top-message {
		width: 100%;
	}
	&_bottom-container {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}
	&_left-panel {
		&--bottom {
			display: flex;
			justify-content: space-between;
		}
	}
}

.home_user-name {
	color: red;
}