.dashboard_right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  &-container {
    width: 80%;
    height: 7em;
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: #FBFBFB;
    padding-left: 1em;
  }
  & img {
    width: 60px;
    height: 60px;
  }
  &-values {
    font-weight: bold;
  }

}