.chart_session-average {
	background-color: #ff0000;
  border-radius: 5px;
	&_custom-tooltip {
		color: black;
		background-color: white;
		padding: 5px 10px;
	}
	&-title {
		fill: white;
		opacity: 0.5;
	}
}
